<% content_for :header do %>
	<a href="/events">Event Dashboard</a>
<% end %>
<% content_for :main do %>

<div class="row">
	<div class="col-sm-7">
		<h3><%= @event.name %></h3>
		<h4>Host: <%= @event.user.first_name %> <%= @event.user.last_name %></h4>
		<h4>Date: <%= @event.date %></h4>
		<h4>Location: <%= @event.city %>, <%= @event.state %></h4>
		<h4>People who are joining the event: <%= @joined.count %></h4>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>
				<% @joined.each do |jp| %>
					<tr>
						<td><%= jp.first_name %> <%= jp.first_name %></td>
						<td><%= jp.city %></td>
						<td><%= jp.state %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="col-sm-5">
		<h3>Discussion about this event</h3>
		<div>
			<% @comments.each do |comment| %>
				<p><%= comment.user.first_name %> says: <%= comment.comment %></p>
				<p>----------</p>
			<% end %>
		</div>
		<form action="/comments" method="POST">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<label>Add Comment:</label><br>
			<textarea name="comment[comment]"></textarea><br>
			<input type="hidden" name="comment[event_id]" value="<%= @event.id %>">
			<input type="submit" value="Submit Comment">
		</form>
	</div>
</div>

<% end %>